{% extends 'base.html' %}

{% block head %}
<title>Workout Log</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Workout Log</h1>

    <table>
        <tr>
            <th>Log_Id</th>
            <th>Workout</th>
            <th>Weight</th>
            <th>Record Date</th>
            <th>Actions</th>
        </tr>
        {% for log in all_log %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.workout }}</td>
            <td>{{ log.weight }}</td>
            <td>{{ log.record_date }}</td>
            <td>
                <a href="/delete/{{log.id}}">Delete</a>
                <br>
                <a href="/update/{{log.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="/add" method="POST">
        <input type="text", name="workout", id="workout">
        <input type="text", name="weight", id="weight">
        <input type="text", name="record_date", id="record_date">
        <input type="submit", value="Add Workout">
    </form>
</div>
{% endblock %}
